<a href="https://colab.research.google.com/github/EduardoHCO/ProjetoXerox/blob/master/titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**Importação da biblioteca**

In [ ]:
import pandas as pd

##**Importação dos dados**

In [20]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
titanic_dataset = pd.read_csv('/content/drive/My Drive/titanic/train.csv')
titanic_dataset

##**Informações**

In [ ]:
titanic_dataset.info()



*   **Idade** possui 177 campos sem preenchimento
*   Das 891 pessoas 687 pessoas não estavam em **cabines**
*   2 pessoas sem local de **embarcação**

In [ ]:
titanic_dataset.describe()



*   Média de idade dos tripulantes é de 30 anos
*   Sendo o desvio padrão de 14 anos, portanto entre 15 a 45 anos eram a maior parte dos tribulantes

In [ ]:
plot_age_survived = pd.crosstab(titanic_dataset["Age"], titanic_dataset["Survived"])
plot_age_survived.plot(figsize=(16,9))



*   Neste plot é perceptível ver se a idade x teve mais mortos ou sobreviventes

In [ ]:
titanic_dataset["Age"].hist()

In [ ]:
titanic_dataset["Sex"].hist()

In [ ]:
homens = len(titanic_dataset[titanic_dataset["Sex"] == 'male'])
mulheres = len(titanic_dataset[titanic_dataset["Sex"] == 'female'])
homens, mulheres



*   577 dos 891 tripulantes eram do **sexo masculino**
*   314 dos 891 tripulantes eram do **sexo feminino**

In [ ]:
sobreviventes = pd.crosstab(titanic_dataset["Survived"], titanic_dataset["Sex"])
sobreviventes



*   233 mulheres sobreviveram, 81 mulheres morreram
*   109 homens sobreviveram, 468 homens morreram

In [ ]:
criancas = len(titanic_dataset[titanic_dataset['Age'] <= 12])
adultos = len(titanic_dataset[(titanic_dataset['Age'] > 12) & (titanic_dataset['Age'] < 60)])
idosos = len(titanic_dataset[titanic_dataset['Age'] >= 60])
criancas, adultos, idosos



*   69 pessoas eram crianças
*   619 pessoas eram adultos
*   26 pessoas eram idosos

In [ ]:
titanic_dataset["Embarked"].unique()

embarked_c = len(titanic_dataset[titanic_dataset["Embarked"] == "C"])
embarked_s = len(titanic_dataset[titanic_dataset["Embarked"] == "S"])
embarked_q = len(titanic_dataset[titanic_dataset["Embarked"] == "Q"])
embarked_c, embarked_s, embarked_q



*   168 pessoas embarcaram no endereço C
*   644 pessoas embarcaram no endereço S
*   77 pessoas embarcaram no endereço Q
*   2 pessoas não tem identificação de local de embarque

In [ ]:
parentesco =  len(titanic_dataset[titanic_dataset["Parch"] == 1])
parentesco



*   Das 891 pessoas 209 possuem parentescos na embarcação

In [ ]:
titanic_dataset["Pclass"].unique()
pessoas_class_1 = len(titanic_dataset[titanic_dataset['Pclass'] == 1])
pessoas_class_2 = len(titanic_dataset[titanic_dataset['Pclass'] == 2])
pessoas_class_3 = len(titanic_dataset[titanic_dataset['Pclass'] == 3])
pessoas_class_1, pessoas_class_2, pessoas_class_3
# total_p_class = pessoas_class_1+pessoas_class_2+pessoas_class_3
# total_p_class

In [ ]:
mortos_classe_1 = len(titanic_dataset[(titanic_dataset['Survived'] == 0) & (titanic_dataset['Pclass'] == 1)])
mortos_classe_2 = len(titanic_dataset[(titanic_dataset['Survived'] == 0) & (titanic_dataset['Pclass'] == 2)])
mortos_classe_3 = len(titanic_dataset[(titanic_dataset['Survived'] == 0) & (titanic_dataset['Pclass'] == 3)])
porcentagem_mortos_classe_1 = ((mortos_classe_1 / pessoas_class_1) * 100)
porcentagem_mortos_classe_2 = ((mortos_classe_2 / pessoas_class_2) * 100)
porcentagem_mortos_classe_3 = ((mortos_classe_3 / pessoas_class_3) * 100)
porcentagem_mortos_classe_1, porcentagem_mortos_classe_2, porcentagem_mortos_classe_3



*   37% dos pessoas da classe 1 morreram
*   53% dos pessoas da classe 2 morreram
*   76% dos pessoas da classe 3 morreram

In [ ]:
titanic_dataset["Fare"].describe()



*   O ticket mais caro da embarcação foi de 512.329200